h2{
    text-align: center;
}

#p1{
    text-align: right;
}

#p2{
    text-align: left;
}

#p3{
    text-align: center;
}

#p4{
    text-align: justify;
}

body{
    border: 2px solid rgb(60, 8, 133);
    width: 50%;
    margin:auto;  
}